---
import {
  ContentType,
  type ItemDisplayed,
  type OptionsCollection,
} from "../../config.ts";
import Badge from "./Badge.astro";
import DateFormate from "./DateFormate.astro";
import Link from "./Link.astro";
import clx from "clsx";

interface Props {
  props: ItemDisplayed["props"];
  options: OptionsCollection;
  className?: string;
}

const { props, options, className } = Astro.props;

function buildUrl(item: ItemDisplayed["props"]): string {
  return (
    "/" +
    (item.id.includes("/")
      ? item.id.replace("/", "/articles/")
      : `articles/${item.id}`)
  );
}

function buildUrlForSeries({ id }: ItemDisplayed["props"]): string {
  const segments = id.split("__")[0].split("/").filter(Boolean);

  return segments.length > 1
    ? `/${segments[0]}/series/${segments.slice(1).join("/")}`
    : `/series/${segments[0]}`;
}

const url =
  props.data.contentType === ContentType["SERIE"]
    ? buildUrlForSeries(props)
    : buildUrl(props);
---

<article
  class={clx(className, "item flex items-center justify-between gap-4 py-4")}
>
  <div class="item__info">
    <Link href={url}>
      {options.showBadge && <Badge contentTypeId={props.data.contentType} />}
      <h3 class="item__title">{props.data.title}</h3>
      {
        options.description && (
          <p class="item__description">{props.data.summary}</p>
        )
      }
    </Link>
    <DateFormate isShowYear={options.showYear} date={props.data.pubDate} />
  </div>
  <div class="bg-slate-500 max-w-[150px]">
    <img
      class="object-cover aspect-square w-full"
      src={props.data.thumbnail}
      alt=""
    />
  </div>
</article>

<style>
  article p {
    font-size: 0.9rem;
    padding: 0.5rem 0 0 0;
  }
</style>
