---
import { getCollection } from "astro:content";

interface Props {
  title?: string;
  limit?: number;
}

const allPages = await getCollection("blog");

const articles = allPages.map((page) => {
  const [lang, ...slug] = page.id.split("/");
  return {
    params: { lang, slug: slug.join("/") || undefined },
    props: page,
  };
});

const { title, limit } = Astro.props;

const displayedArticles = limit ? articles.slice(0, limit) : articles;
---

<section class="blog container-narrow">
  {title && <h3 class="title">{title}</h3>}
  <div class="stack">
    {
      displayedArticles
        .filter((article) => article.props.data.isDraft !== true)
        .sort((a, b) =>
          new Date(a.props.data.pubDate!).getTime() <
          new Date(b.props.data.pubDate!).getTime()
            ? 1
            : -1
        )
        .map((article, index) => (
          <a href={`${Astro.url.pathname}articles/${article.params.slug}`}>
            <article class="item">
              <div class="item__info">
                <div class="item__header-number">
                  {title &&
                    index.toString().padStart(2, "0").includes("00") && (
                      <strong>news</strong>
                    )}
                </div>
                <h3 class="item__title">{article.props.data.title}</h3>
                <div class="meta">
                  <span>
                    {new Intl.DateTimeFormat("fr", {
                      dateStyle: "medium",
                    }).format(article.props.data.pubDate)}
                    · {article.props.data.author.id}
                  </span>
                </div>
                <p class="item__description">{article.props.data.summary}</p>
              </div>
              <div class="item__header-icon">&DownArrow;</div>
            </article>
          </a>
        ))
    }
  </div>
</section>

<style>
  .blog {
    padding-bottom: 5rem;
  }
  .blog a {
    display: inline-flex;
  }

  @media screen and (max-width: 590px) {
    .blog article.item h3 {
      line-height: 1.6;
    }
  }

  .blog h3.title {
    font-size: 2.5rem;
  }

  .blog h3 {
    font-weight: 900;
    font-size: 2rem;
  }
  .blog p {
    padding: 0;
  }
</style>
