---
import { getCollection } from "astro:content";

interface Props {
  title?: string;
  limit?: number;
}

const articles = await getCollection("blog");
const { title, limit } = Astro.props;
---

<section class="blog container-narrow">
  {title && <h3 class="title">{title}</h3>}
  <div class="stack">
    {
      articles
        .filter((article) => article.data.isDraft !== true)
        .sort((a, b) =>
          new Date(a.data.pubDate!).getTime() <
          new Date(b.data.pubDate!).getTime()
            ? 1
            : -1
        )
        .map((article, index) => (
          <a href={`/articles/${article.id}`}>
            <article class="item">
              <div class="item__info">
                <h3
                  transition:name={`article-title-${article.id}`}
                  class="item__title"
                >
                  {article.data.title}
                </h3>
                <div
                  transition:name={`article-meta-${article.id}`}
                  class="meta"
                >
                  <span>
                    {new Intl.DateTimeFormat("fr", {
                      dateStyle: "medium",
                    }).format(article.data.pubDate)}
                    · {article.data.author.id}
                  </span>
                  <span>
                    <div class="tags">
                      {article.data.taxonomies &&
                        article.data.taxonomies.map((t) => (
                          <div class="tag"> {t.id} </div>
                        ))}
                    </div>
                  </span>
                </div>
                <p class="item__description">{article.data.summary}</p>
              </div>
              <div class="item__header-icon">&DownArrow;</div>
            </article>
          </a>
        ))
    }
  </div>
</section>

<style>
  .blog {
    padding-bottom: 5rem;
  }

  .blog a {
    display: inline-flex;
  }

  @media screen and (max-width: 590px) {
    .blog article.item h3 {
      line-height: 1.6;
    }
  }

  .blog h3.title {
    font-size: 2rem;
  }

  .blog h3 {
    font-weight: 900;
    font-size: 2rem;
  }

  .blog p {
    padding: 0;
  }
</style>
