---
import { getCollection } from "astro:content";

interface Props {
  title?: string;
  limit?: number;
}

const articles = await getCollection("blog");
const { title, limit } = Astro.props;
---

<section class="blog">
  {title && <h3>{title}</h3>}
  <div class="stack">
    {
      articles
        .filter((article) => article.data.isDraft !== true)
        .sort((a, b) =>
          new Date(a.data.pubDate!).getTime() <
          new Date(b.data.pubDate!).getTime()
            ? 1
            : -1
        )
        .map((article, index) => (
          <a href={`/articles/${article.id}`}>
            <article class="item">
              <div class="item__info">
                <div class="item__header-number">
                  {title && index.toString().padStart(2, "0").includes("00") ? (
                    <strong>news</strong>
                  ) : (
                    title && index.toString().padStart(2, "0")
                  )}
                </div>
                <h3 class="item__title">{article.data.title}</h3>
                <div class="meta">
                  <span>
                    {new Intl.DateTimeFormat("fr", {
                      dateStyle: "medium",
                    }).format(article.data.pubDate)}
                    · {article.data.author.id}
                  </span>
                </div>
                <p class="item__description">{article.data.summary}</p>
              </div>
              <div class="item__header-icon">&DownArrow;</div>
            </article>
          </a>
        ))
    }
  </div>
</section>

<style>
  .blog {
    padding-bottom: 5rem;
  }

  .blog a {
    display: inline-flex;
  }
  .blog h3 {
    font-weight: 900;
    font-size: 4rem;
  }

  .blog p {
    padding: 0;
  }
</style>
