---
import { type CollectionEntry } from "astro:content";
import ReadingTime from "./ReadingTime.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import Writer from "./Writer.astro";
import type { ReferenceDataEntry } from "astro:content";
import { getEntry } from "astro:content";
import Button from "@portfolio/ui/Button";
import DateFormate from "./DateFormate.astro";
import { date } from "astro:schema";
import clsx from "clsx";
import Label from "./Label.astro";
import BlockInfo from "./BlockInfo.astro";
import ContentType from "./ContentType.astro";

interface Props {
  className?: string;
  item: CollectionEntry<"series"> | CollectionEntry<"blog">;
  readingTime?: number;
  showSummary?: boolean;
  taxonomies?: ReferenceDataEntry<"taxonomies", string>[] | undefined;
}

const {
  item,
  readingTime,
  showSummary = true,
  taxonomies,
  className,
} = Astro.props;

const { title, pubDate, author, contentType, summary, ...props } = item.data;

const formatDate = Intl.DateTimeFormat(Astro.currentLocale, {
  dateStyle: "long",
}).format(pubDate);

const getTaxonomies = await Promise.all(
  taxonomies
    ? taxonomies?.map(
        async (taxonomy) => await getEntry(taxonomy.collection, taxonomy.id)
      )
    : []
);
const cleanTitle = title.replace(/[^\p{L}\p{N}\s'']/gu, "");
---

<div
  class={clsx(
    className,
    "info grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-5 pb-10 lg:pb-[5rem]"
  )}
>
  <BlockInfo
    className="flex flex-col gap-4 md:col-span-2 lg:col-span-2 animate-blur-in"
  >
    <Label title="Info" />
    <h1 class="text-sm text-balance uppercase w-full lg:w-2/3">
      {cleanTitle}
    </h1>
    <p class="uppercase text-[var(--color-secondary)] text-[0.7rem]">
      {item.data.summary}
    </p>
  </BlockInfo>

  <div class="lg:col-start-4 lg:col-span-2 grid grid-cols-2">
    <BlockInfo
      className="flex flex-col gap-4 uppercase text-[0.7rem] text-[var(--color-secondary)] animate-blur-in animation-delay-200"
    >
      <Label title="Meta" />
      <div class="flex flex-col items-start gap-1">
        <Writer author={author} />
        <ReadingTime time={readingTime!} />
        <span class="uppercase">{formatDate}</span>
      </div>
    </BlockInfo>

    <BlockInfo
      className="flex flex-col gap-4 animate-blur-in animation-delay-300"
    >
      <Label title="Taxonomy" />

      {
        getTaxonomies && (
          <div class="flex flex-col gap-1 uppercase text-[0.7rem] text-[var(--color-secondary)]">
            {getTaxonomies.map((taxonomy) => (
              <div>{taxonomy?.data.name}</div>
            ))}
          </div>
        )
      }
    </BlockInfo>
  </div>
</div>

<style>
  .info {
    font-family: "Work Sans", sans-serif;
  }
</style>
