---
import { type CollectionEntry } from "astro:content";
import ReadingTime from "./ReadingTime.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import Writer from "./Writer.astro";
import type { ReferenceDataEntry } from "astro:content";
import { getEntry } from "astro:content";
import Button from "@portfolio/ui/Button";

interface Props {
  item: CollectionEntry<"series"> | CollectionEntry<"blog">;
  readingTime?: number;
  showSummary?: boolean;
  taxonomies?: ReferenceDataEntry<"taxonomies", string>[] | undefined;
}

const { item, readingTime, showSummary = true, taxonomies } = Astro.props;

const { title, pubDate, author, contentType, summary, ...props } = item.data;

const formatDate = Intl.DateTimeFormat(Astro.currentLocale, {
  dateStyle: "long",
}).format(pubDate);

const getTaxonomies = await Promise.all(
  taxonomies
    ? taxonomies?.map(
        async (taxonomy) => await getEntry(taxonomy.collection, taxonomy.id)
      )
    : []
);
---

<div class="info">
  <Breadcrumb contentTypeId={item.data.contentType} />

  <h1 class="animate-slide-in animate-fade-in">
    {title.replace(/[^\p{L}\p{N}\s]/gu, "")}
  </h1>

  <div
    class="meta grid grid-cols-[repeat(auto-fill,minmax(140px,1fr))] gap-5 pb-[5rem]"
  >
    <div class="animate-slide-in animation-delay-100">
      <Button>
        <span
          class="btn-click magnetic"
          data-strength="45"
          data-strength-text="25"
        >
          <div class="btn-fill"></div>
          <span class="btn-text">
            <span class="btn-text-inner change">
              <span class="w-fit">
                <Writer author={author} />
              </span>
            </span>
          </span>
        </span>
      </Button>
    </div>

    <ReadingTime time={readingTime!} />
    {
      showSummary && (
        <div class="summary leading-7 animate-slide-in animation-delay-300">
          {summary}
        </div>
      )
    }
    <!-- {
      getTaxonomies && (
        <div class="tags animate-slide-in animation-delay-300">
          {getTaxonomies.map((taxonomy) => (
            <div class="tag">{taxonomy?.data.name}</div>
          ))}
        </div>
      )
    } -->
  </div>
</div>

<style>
  .meta > * {
    font-family: "Inter";
  }
  .info {
    font-family: "Inter";
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
</style>
