---
import {
  ContentType,
  type ItemDisplayed,
  type OptionsCollection,
} from "../../config.ts";
import Badge from "./Badge.astro";
import DateFormate from "./DateFormate.astro";
import Link from "./Link.astro";
import clx from "clsx";

interface Props {
  props: ItemDisplayed["props"];
  options: OptionsCollection;
  className?: string;
}

const { props, options, className } = Astro.props;

function buildUrl(item: ItemDisplayed["props"]): string {
  const base = new URL(item.id, Astro.url).pathname.split("/").filter(Boolean);
  const set = new Set(base);
  return "/" + Array.from(set).join("/");
}
---

<article class={clx(className, "item flew")}>
  <div class="item__info">
    <Link href={buildUrl(props)}>
      {options.showBadge && <Badge contentTypeId={props.data.contentType} />}
      <h3 class="item__title">{props.data.title}</h3>
      {
        options.description && (
          <p class="item__description">{props.data.summary}</p>
        )
      }
    </Link>
  </div>
  <div>
    <div class="meta">
      <DateFormate isShowYear={options.showYear} date={props.data.pubDate} />
    </div>
  </div>
</article>

<style>
  article p {
    font-size: 0.9rem;
    padding: 0.5rem 0 0 0;
  }
</style>
