---
import Scripts from "../components/Scripts.astro";
import Seo from "../components/Seo.astro";
import Footer from "../components/shared/Footer.astro";
import Header from "../components/shared/Header.astro";

import "@portfolio/ui/GlobalCSS";
import LangRedirect from "@portfolio/ui/LangRedirect";

const {
  title,
  description,
  image,
  url = Astro.url.href,
  typeContent,
} = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <Seo
      title={title}
      description={description}
      typeContent={typeContent}
      image={image}
      url={url}
    />
    <Scripts />
  </head>
  <body>
    <div class="bg-noise">
      <div class="page-wrapper">
        <Header />
        <slot />
        <Footer />
      </div>
    </div>
    <LangRedirect client:load />
  </body>
</html>

<style>
  .page-wrapper {
    overflow: hidden;
  }
</style>
