---
interface Props {
  title?: string;
  description?: string;
  image?: string;
  url?: string;
  typeContent?: "website" | "article";
}

const {
  title = "Emmanuelito elysee",
  description = "I’m a web developer passionate about crafting sustainable and human-centered experiences. I bring adaptable, thoughtful solutions to a constantly evolving digital world.",
  image = `${Astro.url.origin}/og-image.jpg`,
  url = Astro.url,
  typeContent = "website",
} = Astro.props;

const typeWebsite = "Portfolio";
const name = "Elysee-Mboussa";
const fullTitle = `${title} | ${typeWebsite}`;
---

<title>{fullTitle}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content={description} />
<link rel="canonical" href={url} />

<link
  rel="icon"
  type="image/png"
  href={`${Astro.url.origin}/favicon-512.png`}
  sizes="512x512"
/>
<link
  rel="icon"
  type="image/svg+xml"
  href={`${Astro.url.origin}/favicon.svg`}
/>
<link
  rel="apple-touch-icon"
  href={`${Astro.url.origin}/apple-touch-icon.png`}
/>
<link rel="manifest" href={`${Astro.url.origin}/site.webmanifest`} />
<link rel="sitemap" href={`${Astro.url.origin}/sitemap-index.xml`} />
<link
  rel="icon"
  type="image/png"
  href={`${Astro.url.origin}/favicon-96x96.png`}
  sizes="96x96"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href={`${Astro.url.origin}/apple-touch-icon.png`}
/>
<meta name="theme-color" content="#1e1e1e" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link
  href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Domine:wght@400..700&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Geist:wght@100..900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Pridi:wght@200;300;400;500;600;700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oranienbaum&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
  rel="stylesheet"
/>

<meta property="og:site_name" content={name} />
<meta property="og:title" content={fullTitle} />
<meta property="og:type" content={typeContent} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:url" content={url} />
<meta name="robots" content="index, follow" />
<meta
  name="google-site-verification"
  content="hyeUNyeanb3BYVbCmMJKMIiXusraMSWPSCNMBn83Sk8"
/>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
<meta name="twitter:site" content="@EmmanuelitoElysee" />

<script is:inline type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": "Emmanuelito elysee",
    "url": "https://eembouz.com/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://eembouz.com/",
      "query-input": "required name=search_term_string"
    }
  }
</script>

<script is:inline type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Emmanuelito Elysee",
    "url": "https://eembouz.com/",
    "logo": "https://eembouz.com/favicon-512.png"
  }
</script>
