---
import { skills } from "../data/skills";
---

<section class="skills">
  <h3 class="skills__title">Skills</h3>
  <div class="grid">
    {
      skills.map((skill) => (
        <div class={skill.name}>
          <h2 class="techo__name"> {skill.name} </h2>
          <div class="frameworks">
            <ul class="list">
              {skill.frameworks?.map((framework) => (
                <div class="link">
                  <a href={framework.href}>
                    <li class="framework">
                      <span class="framework__name"> {framework.name}</span>{" "}
                    </li>
                  </a>
                  <span class="framework__description">
                    {framework.description}
                  </span>
                </div>
              ))}
            </ul>
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .skills__title {
    font-size: 4rem !important;
    padding-bottom: 2rem;
    font-style: italic;
  }

  .skills {
    width: 100%;
    height: 100%;
    padding-bottom: 10rem;
  }

  .skills ul {
    padding: 0;
    margin: 0;
  }

  .techo__name {
    font-family: "Inter" !important;
    letter-spacing: normal;
    font-weight: 100 !important;
    padding-bottom: 2rem;
  }

  .frameworks .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 1.6;
  }

  .frameworks .link {
    font-style: italic;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: flex-start;
  }

  @media only screen and (max-width: 499px) {
    .frameworks .link {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* @media only screen and (min-width: 500px) and (max-width: 1024px) {
    .frameworks .link {
      grid-template-columns: repeat(5, 1fr);
    }
  } */

  .frameworks .list li {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
  }

  .frameworks ul li::before {
    content: "";
    display: block;
    width: 8px;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background: currentColor;
  }

  .frameworks .list .framework__name {
    text-decoration: underline;
    color: var(--color-primary) !important;
  }

  .frameworks .list .framework span {
    margin-right: 1rem;
  }

  .frameworks .framework__description {
    color: var(--color-primary) !important;
    grid-column: 2 / span 4;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    gap: 7rem;
  }
</style>
