---
import { skills } from "../data/skills";
import type { Skill } from "../types/skills";

---

<section class="skills container">
  <div class="container-narrow">

    <h3 class="skills__title">Skills.</h3>
    <div class="grid">
      {
        skills.map((skill) => (
          <div class={skill.name}>
            <h2> {skill.name} </h2>
            <div>
              {skill.techno.map((techno) => (
                <div class="skill__header">
                  <div class="logo" set:html={techno.logo} />
                  <div> {techno.name} </div>
                </div>
                <div class="frameworks">
                  {techno.frameworks?.map(f => (
                    <div class="stack__framework">
                      <div> {f.name} </div>
                        <div class="logo" set:html={f.logo}></div>
                    </div>
                  ))}
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>

  
  
  .skills__title {
    font-size: 5rem   !important;
    padding-bottom: 2rem;
  }
  
  .skills {
    width: 100%;
    height: 100%;
    padding-bottom: 10rem;
  }

  .logo {
    width: 54px;
    height: 54px;
  }

  .skill__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-block: 1.5rem;
  }

  .stack__framework {
    border-radius: 0.5rem;
    border: var(--border);
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap:0.5rem;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
  }

  .frameworks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
  }


  
  .logo[data-astro] {
    color: black;
    fill: black;
    background: black;
    padding: 0.5rem;
    border-radius: 100%;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    gap: 7rem;
  }
</style>
