---
import { render, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Outline } from "../../components/Outline.jsx";
import Prose from "../../components/Prose.astro";
import Info from "../../components/Info.astro";
import { Chapiter } from "../../components/Chapiter.jsx";

interface Props {
  item: CollectionEntry<"blog">;
}

const { item } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(item);

const { seo: seoProps, taxonomies, author, pubDate } = item.data;

const metaData = {
  title: item.data.title,
  description: item.data.summary,
  image: item.data.thumbnail,
  url: Astro.url.href,
  author: author.id,
  publishedDate: pubDate?.toISOString(),
};

const seo = seoProps ? seoProps : metaData;
---

<Layout {...seo}>
  <section data-markdown>
    <div class="container">
      <div class="container-narrow">
        <Info
          item={item}
          showSummary={false}
          taxonomies={taxonomies}
          readingTime={remarkPluginFrontmatter.stats.minutes}
        />
      </div>
    </div>

    <!-- <div class="container">
      <div class="container-narrow">
        <div class="heading">
          <div class="cover">
            <img src={thumbnail} alt="" />
          </div>
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class="wrapper-content">
        <div
          id="mindmap"
          class="block 1"
          style="
    grid-row: 1;
    /* row-gap: 5rem; */
    grid-column: 1;
    /* position: relative; */
    max-width: 100%;
    /* width: 350px; */
    display: block;
"
        >
          <p style="
    text-wrap: balance;
    display: block;
">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum. Why do we use it? It is
            a long established fact that a reader will be distracted by the
            readable content of a page when looking at its layout. The point of
            using Lorem Ipsum is that it has a more-or-less normal distribution
            of letters, as opposed to using 'Content here, content here', making
            it look like readable English. Many desktop publishing packages and
            web page editors now use Lorem Ipsum as their default model text,
            and a search for 'lorem ipsum' will uncover many web sites still in
            their infancy. Various versions have evolved over the years,
            sometimes by accident, sometimes on purpose (injected humour and the
            like). Where does it come from? Contrary to popular belief, Lorem
            Ipsum is not simply random text. It has roots in a piece of
            classical Latin literature from 45 BC, making it over 2000 years
            old. Richard McClintock, a Latin professor at Hampden-Sydney College
            in Virginia, looked up one of the more obscure Latin words,
            consectetur, from a Lorem Ipsum passage, and going through the cites
            of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de
            Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
            Cicero, written in 45 BC. This book is a treatise on the theory of
            ethics, very popular during the Renaissance. The first line of Lorem
            Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
            1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is
            reproduced below for those interested. Sections 1.10.32 and 1.10.33
            from "de Finibus Bonorum et Malorum" by Cicero are also reproduced
            in their exact original form, accompanied by English versions from
            the 1914 translation by H. Rackham. Where can I get some? There are
            many variations of passages of Lorem Ipsum available, but the
            majority have suffered alteration in some form, by injected humour,
            or randomised words which don't look even slightly believable. If
            you are going to use a passage of Lorem Ipsum, you need to be sure
            there isn't anything embarrassing hidden in the middle of text. All
            the Lorem Ipsum generators on the Internet tend to repeat predefined
            chunks as necessary, making this the first true generator on the
            Internet. It uses a dictionary of over 200 Latin words, combined
            with a handful of model sentence structures, to generate Lorem Ipsum
            which looks reasonable. The generated Lorem Ipsum is therefore
            always free from repetition, injected humour, or non-characteristic
            words etc. 5 paragraphs words bytes lists Start with 'Lorem ipsum
            dolor sit amet...'
          </p>
        </div>
        <Prose>
          <Content />
        </Prose>
        <div class="wrapper-outline">
          <Outline client:load />
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .container,
  .wrapper-content {
    overflow: visible;
  }

  .article__paragraph {
    padding-block: 1rem;
  }

  .description {
    padding-block: 3rem;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .wrapper-content {
    display: block;
  }

  .wrapper-outline {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    .wrapper-content {
      width: 100%;
      display: grid !important;
      grid-template-columns: 1fr 600px 1fr !important;
      padding: 0;
    }

    .wrapper-outline {
      display: block;
      grid-column: 3;
      margin-bottom: 5rem;
      justify-self: end;
    }
  }

  .content {
    padding-bottom: 5rem;
  }
  h1 {
    text-align: left;
    padding-top: 3rem;
    line-height: 1.4;
  }

  .cover {
    width: 100%;
  }

  .meta {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 0.5rem;
    padding-bottom: 4rem;
    font-family: "JetBrains Mono" !important;

    & > * {
      font-family: "JetBrains Mono" !important;
      letter-spacing: -0.5px;
      color: var(--color-secondary);
    }
  }

  /*  */

  @media screen and (max-width: 590px) {
    .container-narrow .info .tags {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 1300px) {
    .heading {
      img {
        max-height: 500px;
      }
    }
  }
</style>

<script>
  const h2 = Array.from(document.querySelectorAll("h2"));
  const element = document.getElementById("mindmap");

  let observers: IntersectionObserver[] = [];

  const handleClick = () => {
    observers.forEach((observer) => observer.disconnect());
    observers = [];

    h2.forEach((item) => {
      const observer = new IntersectionObserver((entries) => {
        const entry = entries[0];
        if (entry.isIntersecting) {
          element!.dataset.target = entry.target.id;
          element!.dispatchEvent(new Event("mindmap"));
        }
      });
      observer.observe(item);
      observers.push(observer);
    });
  };

  element!.addEventListener("click", handleClick);

  // Nettoyage au déchargement de la page
  addEventListener("beforeunload", () => {
    observers.forEach((observer) => observer.disconnect());
  });
</script>
