---
import { render, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Outline } from "../../components/Outline.jsx";
import Prose from "@portfolio/ui/Prose";
import Info from "../../components/Info.astro";

interface Props {
  item: CollectionEntry<"blog">;
}

const { item } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(item);

const { seo: seoProps, taxonomies, author, pubDate, thumbnail } = item.data;

const metaData = {
  title: item.data.title,
  description: item.data.summary,
  image: item.data.thumbnail,
  url: Astro.url.href,
  author: author.id,
  publishedDate: pubDate?.toISOString(),
};

const seo = seoProps ? seoProps : metaData;
---

<Layout {...seo}>
  <section data-markdown class="w-full">
    <div class="container medium">
      <Info
        item={item}
        showSummary={false}
        taxonomies={taxonomies}
        readingTime={remarkPluginFrontmatter.stats.minutes}
      />
    </div>

    {
      thumbnail && (
        <div class="container medium">
          <div class="heading">
            <div class="cover animate-fade-in animation-delay-300">
              <img
                src={thumbnail}
                class="w-full aspect-video h-auto object-cover"
                alt=""
              />
            </div>
          </div>
        </div>
      )
    }

    <div class="container medium">
      <Prose>
        <Content />
      </Prose>

      <Outline client:load />
    </div>
  </section>
</Layout>

<style>
  .container,
  .wrapper-content {
    overflow: visible;
  }

  .article__paragraph {
    padding-block: 1rem;
  }

  .description {
    padding-block: 3rem;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .wrapper-content > * {
    min-width: 0;
  }

  .wrapper-content {
    display: block;
  }

  .wrapper-outline {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    .wrapper-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 5rem;
      /* grid-template-columns: 600px 1fr; */
      padding: 0;
    }

    .wrapper-outline {
      display: block;
      /* grid-column: 3; */
      margin-bottom: 5rem;
      justify-self: end;
    }
  }

  .content {
    padding-bottom: 5rem;
  }

  .cover {
    padding-bottom: 5rem;
    width: 100%;
  }

  .meta {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 0.5rem;
    padding-bottom: 4rem;
    font-family: "JetBrains Mono" !important;

    & > * {
      font-family: "JetBrains Mono" !important;
      letter-spacing: -0.5px;
      color: var(--color-secondary);
    }
  }

  /*  */

  @media screen and (max-width: 590px) {
    .container-narrow .info .tags {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 1300px) {
    .heading {
      img {
        max-height: 500px;
      }
    }
  }
</style>

<script>
  const h2 = Array.from(document.querySelectorAll("h2"));
  const element = document.getElementById("mindmap");

  let observers: IntersectionObserver[] = [];

  const handleClick = () => {
    observers.forEach((observer) => observer.disconnect());
    observers = [];

    h2.forEach((item) => {
      const observer = new IntersectionObserver((entries) => {
        const entry = entries[0];
        if (entry.isIntersecting) {
          element!.dataset.target = entry.target.id;
          element!.dispatchEvent(
            new CustomEvent("mindmap", {
              detail: entry.target.id,
            })
          );
        }
      });
      observer.observe(item);
      observers.push(observer);
    });
  };

  element!.addEventListener("click", handleClick);

  element?.addEventListener("beforeunload", () => {
    observers.forEach((observer) => observer.disconnect());
  });
</script>
