---
import Seo from "../components/Seo.astro";
import ThemeManager from "../components/ThemeManager.astro";
import "../css/index.css";

const {
  title,
  description,
  image,
  url = Astro.url.href,
  typeContent,
} = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <Seo
      title={title}
      description={description}
      typeContent={typeContent}
      image={image}
      url={url}
    />
  </head>
  <body>
    <div class="bg-noise">
      <div class="page-wrapper">
        <div class="container-narrow">
          <slot />
        </div>
      </div>
    </div>
    <ThemeManager />
  </body>
</html>
